  main {
      margin-top           : 20px;
      display              : grid;
      grid-template-columns: 100px 100px 100px;
      grid-gap             : 0px;
      justify-content      : center;
      margin-bottom        : 20px;

  }

  app-cuadro {
      border: 1px black solid;
      height: 100px;
      cursor: pointer;
  }

  .volver {
      margin-left: 20px;
  }